@font-face {
    font-family: 'Nexa';
    src: url(/fonts/nexa.otf);
}

body {
    background-color: #f1ede8;
    font-family: 'Nexa', sans-serif;
    color: #2b2b2b;
    letter-spacing: 0px;
}

.parent {
    width: 95vw;
    height: 95vh;
    position: relative;
}

.container {
    align-items: center;
    text-align: center;
    padding: 30px;
    position: relative;
}

.info {
    position: absolute;
    top: 30%;
    left: 20%;
    vertical-align: middle;
    width: 60%;
}

.title {
    float: left;
    text-align: right;
    width: 43%;
}

.menu {
    font-size: 30px;   
    font-weight: bold;
    float: right;
    width: 43%;
    text-align: left;
}

.menu-item {
    margin-top: 30px
}

.name {
    margin-top: 40px;
    font-size: 30px; 
}

.description {
    font-size: 20px;
    margin-top: 5px;
}

.title > div > span {
    font-size: 80px;   
    font-weight: 900;
    letter-spacing: 0px;
}

hr {
    border-top: 12px solid #2b2b2b;
    width: 80%;
}

.button {
    background-color: #222;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 40%;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    width: 100%;
    color: #f1ede8;
    text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: .85;
}